@media (max-width: 320px) {
    .header {
        h2 {
            font-size: 20px;
        }
    }
}
@media (max-width: 280px) {
    .header {
        h2 {
            font-size: 16px;
        }
    }
}
.logo {   
    .material-icons-outlined {
         font-size: 30px;
         display: block;
         padding-bottom: 4px;
         
     }
}
.banner {
    background-image: url('https://images.unsplash.com/photo-1530099486328-e021101a494a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=816&q=80');
    height: 370px;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}
